#date-cell-today {
    -fx-font-weight: 900;
}

#date-cell-today-event {
    -fx-font-weight: 900;
    -fx-background-color: indianred;
    -fx-text-fill: white;
}

#date-cell-entered {
    -fx-background-color: darkgreen;
    -fx-text-fill: white;
}

#date-cell-event {
    -fx-background-color: indianred;
    -fx-text-fill: white;
}

#date-cell-default {

}

.menu-item .label {
    -fx-font-size: 15px;
}